/.idea
www/robots.txt
www/robots2.txt
www/newdb.php
www/error_log
www/wmail_a75372a8ff100c44633aaa1964122e06.html
www/links1051481.php
www/BingSiteAuth.xml

www/.htaccess
www/config.php
www/admin/config.php

!www/index.html

www/download/
www/system/cache/
www/system/logs/

www/system/library/app/config


www/system/storage/*
!www/system/storage/modification

# vQmod log files
www/vqmod/logs/*

# vQmod cache files
www/vqmod/vqcache/*
www/vqmod/checked.cache
www/vqmod/mods.cache

# Download Files
/www/system/download/*
!/www/system/download/index.html

# Image File
www/image/data/*
www/image/catalog/data/*
www/image/catalog/*

# Image Cache Files
/www/image/cache/*
!/www/image/cache/index.html

# dir, that can be used for backups and vqmod (if user will enable it).
www/backup/*
/www/vqgen/

# Style
www/catalog/view/theme/modern/stylesheet/dist/main.css
www/catalog/view/theme/modern/stylesheet/dist/main.css.map

/www/backuper/*

