.btnProd {
  background-color: #353d44;
  &:hover {
    background-color: #51585e;
  }
}
/*account, address_form, btn*/
.btn_info {
  color: #ffffff;
  background: $dark-blue;
  border: none;
}
.btn_info:hover, .btn_info:active, .btn_info.active, .btn_info:focus, .btn_info.focus, .btn_info:active:hover, .btn_info:active:focus, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:focus, .btn-primary.disabled:hover {
  background-color: $btn-hover;
  border-color: $colorBtnBorderColor;
}

.buttons {
  .btnLeft{
    text-align: left;
  }
  .btnRight{
    text-align: right;
  }
  .blockLeft{
    float: left;
  }
  .blockRight {
    float: right;
  }
}
