#content_all{
  min-height: 100vh;
}
/*catalog, link to brands*/
#content {
  .link_brands {
    font-size: 16px;
    color: #1bbc9b;
    padding-top: 7px;
    a {
      color: #1bbc9b;
      float: right;
    }
    a:hover {
      color: #353d44;
    }
  }
  .title_brands {
    display: flex;
    justify-content: center;
    color: #353d44;
  }
  hr:last-child {
    display: none;
  }
}
/*END catalog, link to brands*/
/*brands*/
.content_brands {
  padding-bottom: 20px;
}
/*END brands*/

/*END account, address_form, btn*/
/*footer_contact*/
#map123 {
  .mapc_footer {
    height: 350px;
  }
  .footer_cont {
    .block-contacts {
      height: 350px;
      max-width: 320px;
      .footer_contacts {
        color: $dark-blue;
        padding-left: 35px;
      }
      .br-tel {
        line-height: 26px;
      }
      li:hover {
        color: #f2f2f2;
        a:hover {
          color: $dark-blue;
        }
      }
    }
  }
}
/*END footer_contact*/
/*page Contact*/
.page_contact {
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .control-label {
    text-align: left;
  }
}
/* END page Contact*/



.footer{
  background-color:  #353d44;
  max-height: 280px;
  font-size: 14px;
  line-height: 24px;
  .footer_copyright {
    text-align: center;
    .footer_copyright_1 {
      color: #ffffff;
    }
    .footer_copyright_2{
      color:  #8c8f91;
    }
  }
  .footer_desinger{
    color:  #8c8f91;
    font-size: 14px;
    line-height: 16px;
    text-align: right;

  }
}

#prides {
  .list_block h4 {
    margin-bottom: 25px;
  }
  .thumbnail :hover {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
    img  {
      opacity: 0.8;
    }
  }
}


.prides_main{
  margin: 10px 0;
  .list_block {
    min-height: 60px;
  }
  .product-layoutcat {
    margin-bottom: 0;
  }
  .caption p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
  }
  .blockTitle {
    padding: 20px 5px 0;
  }
  @media screen and (max-width: 560px) {
    .list_block {
      height: 77px;
      min-height: 77px;
    }
  }
}

.prides_main{
  margin: 10px 0;
  .list_block {
    min-height: 60px;
  }
  .product-layoutcat {
    margin-bottom: 0;
  }
  .caption p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
  }
  .blockTitle {
    padding: 20px 5px 0;
  }
  @media screen and (max-width: 560px) {
    .list_block {
      height: 77px;
      min-height: 77px;
    }
  }
}

.block-contacts{
  background-color:  #ff9504;
}

#content_documents {
  min-height:400px;
  .icon_column {
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}