.button_title{
  font-size: 14px;
  background-color:  #1bbc9b;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 135px;
  height: 35px;
  margin: auto;
  &:hover {
    background-color: #73dec8;
    color: #404040;
  }
}

#search {
  .form-control{
    float: right;
    border-radius: 20px;
    width: 90%;
  }
}

.circleout2 {
  background-color: #1bbc9b;
  top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa {
    vertical-align: middle;
  }
}

.head_search{
  top: 18px;
}
.btn-callback {
  padding: 0;
}
.menu-top{
  color: #000000;
  background-color: #8f8f8f;
  margin: auto;
}

.top-header{
  border-bottom: none;
  padding-top: 0;
}

#logo{
  img{
    width: auto;
    top: -15px;
  }
}

.fn_header{
  font-size: 21px;
}

.navcentr{
  margin: auto;
  height: 125px;
}

.fn_header{
  font-size: 24px;
}

.cart-item{
  background-color:  #1bbc9b;
}

/*
* BEGIN Category menu
*/
.category_menu{
  background-color: #8f8f8f;
  #menu {
    background-color: #8f8f8f;
    .plus {
      margin-right: 0;
    }
    .dropdown-inner {
      & a {
        min-width: 0;
      }
    }
    .nav {
      & li {
        & a:before {
          width: 127%;
          background: $btn-hover;
        }
      }
    }
  }
  #top-menu {
    .nobackground {
      .navbar {
        margin-bottom: 0px;
        .btn-burger {
          &:active {
            background-color: $light-gray;
          }
          &:focus {
            background-color: $light-gray;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    #menu {
      .hidem {
        &>.nav {
          height: 50px;
        }
      }
      .nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &>li.item{
          display: flex;
          align-items: center;
          &:before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            right: 0;
            background: white;
            height: 2px;
            z-index: 1;
          }
          &:hover:before {
            top: -2px;
            height: 2px;
            background: #51473c;
          }
          &.activetopmenu:before {
            top: -2px;
            height: 2px;
            background: #51473c;
          }
          &>a {
            font-size:12px;
            padding: 5px 5px;
            color: white;
            &:hover {
              color: black;
            }
            &:before {
              position: static;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1599px) and (min-width: 1200px) {
  .category_menu{
    #menu .nav > li > a {
      padding: 15px 5px!important;
      font-size: 10px!important;
    }
  }
  .top-header2 {
    #menu .nav > li > a {
      padding: 15px 8px!important;
      font-size: 9px!important;
    }
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .category_menu{
    #menu .nav > li > a {
      font-size: 8px!important;
    }
  }
  .top-header2 {
    #menu .nav > li > a {
      padding: 15px 8px!important;
      font-size: 7px!important;
    }
  }
}
/*
* END Category menu
*/
.top-header2 {
  #menu .nav > li > a {
    padding: 15px 10px;
    font-size: 12px;
  }
}
/*top menu*/
#top {
  height: inherit;
  .btn-navbar {
    color: #fff;
    padding: 5px 18px!important;
    margin-top: 2px;
    font-size: 14px;
  }
  li {
    padding-top: 8px;
  }
  .navbar {
    min-height: 38px;
  }
  #top-links2 {
    padding-top: 0;
  }
  .list-inline {
    top: 0;
  }
}
/* END top menu*/
.dropdownDocs {
  padding: 0 0;
  margin-top: 5px;
  transition: all 320ms, opacity 10ms;
  left: inherit;
  &>ul {
    margin-bottom: 0;
  }
}

#top-links2 {
  .dropdown-menu a:hover{
    color: white !important;
  }
  .list-group a {
    border:none;
  }
  .list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: inherit;
    background: none;
    border: none;
    text-shadow: none;
  }
}