.button_title{
  font-size: 12px;
  background-color:  #1bbc9b;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 135px;
  height: 35px;
  line-height: 1;
  margin: auto;
}

#search {
  .form-control{
    float: right;
    border-radius: 20px;
    width: 90%;
  }
}

.circleout2 .fa{
  vertical-align: middle;
}

.head_search{
  top: 18px;
}

.menu-top{
  color: #000000;
  background-color: #8f8f8f;
  margin: auto;
}

.top-header{
  border-bottom: none;
  padding-top: 0;
}

#logo{
  img{
    width: auto;
    top: -15px;
  }
}

.fn_header{
  font-size: 21px;
}

.navcentr{
  margin: auto;
  height: 125px;
}

.fn_header{
  font-size: 24px;
}

#menu{
  .nav > li > a{
    color: #000000;
    line-height: 16px;
    text-align: center;
    max-width: 145px;
    font-weight: 400;
    height: 55px;
    margin-top: -1px;
    display: flex;
    align-items: center;
  }
  .nav > li > a:hover{
    color: #ffffff;
  }
}

.list-inline{
  li{
    a{
      padding: 15px 8px!important;
    }
  }
}