@media screen and (max-width: 487px) {
  #search input.form-control {
    width: 100%;
  }
}

/* header */

/*top menu*/
@media (max-width: 991px) {
  #top-links2 {
    ul {
      display: flex;
      flex-direction: column;
    }
  }

.navbar-right {
  display: flex;
  justify-content: center;
}
  .reg a {
    color: #ffffff!important;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  #top-links a {
    font-size: 12px;
  }
  #top-links2 a {
    font-size: 12px;
  }
}
/*end tom menu*/

/*brands*/
@media (max-width: 991px) {
  .img_brands {
    display: flex;
    justify-content: center;
  }
}
/*END brands*/



/* product */
@media (max-width: 1599px) and (min-width: 1200px) {
  .cart {
    padding-left: 5px !important;
  }
}
/* product */