@media screen and (max-width: 487px) {
  #search input.form-control {
    width: 100%;
  }
}
/*top menu*/
@media (max-width: 991px) {
  #top-links2 {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
.navbar-right {
  display: flex;
  justify-content: center;
}
  .reg a {
    color: #ffffff!important;
  }
}
