.product{
  .info_serv {
    .title {
      font-size: 26px;
      padding-bottom: 5px;
    }
    .callback {
      font-size: 18px;
      padding: 35px 0;
    }
    .btnProd {
      padding:14px 13px;
    }
  }
}

.prmain {
  height: 425px;
  .thumbnails{
    height: inherit;
    >li{
      height: inherit;
      a{
        height: 390px;
        img{
          height: inherit;
        }
      }
    }
  }
}

#product{
  hr{
    margin-bottom: -10px;
  }
  .form-group{
    margin-bottom: 0;
  }
  .plus_minus{
    margin-top: 25px;
  }
  .im_option{
    color: #51473c;
  }
  .radio input:checked+.im_option{
    background-color: #1bbc9b;
  }
}

.brand_img{
  margin-top: -12px;
}

.attribute_groups{
    display: none !important;
}