.product{
  .info_serv {
    .title {
      font-size: 26px;
      padding-bottom: 5px;
    }
    .callback {
      font-size: 18px;
      padding: 35px 0;
    }
    .btnProd {
      padding:14px 13px;
    }
  }
}