.product{
  .info_serv {
    .title {
      font-size: 26px;
      padding-bottom: 5px;
    }
    .callback {
      font-size: 18px;
      padding: 35px 0;
    }
    .btnProd {
      padding:14px 13px;
    }
  }
}

#product{
  hr{
    margin-bottom: -10px;
  }
  .form-group{
    margin-bottom: 0;
  }
  .plus_minus{
    margin-top: 25px;
  }
  .im_option{
    color: #51473c;
  }
  .radio input:checked+.im_option{
    background-color: #1bbc9b;
  }
}

.brand_img{
  margin-top: -12px;
}

.attribute_groups{
    display: none !important;
}
.line-product {
  padding: 10px 0 5px 0;
  .priceproduct-new {
    vertical-align: -webkit-baseline-middle;
  }
}

.cart {
  padding-left: 5px;
  >button:hover{
      background: #51585e;
    }
  >button{
    background: #353d44;
  }
}

.tab-content{
  min-height: 600px;
}
.servicePrice {
  font-size: 15px;
}