/*основные цвета*/

$dark-blue: #353d44;  //верхнее меню, кнопки
$btn-hover: #51585E; //ховер на основный кнопки
$dark-gray: #8f8f8f;
$light-gray: #909090;
$green: #1bbc9b;
$orange: #f56708;
$white: #ffffff;
$black: #000000;

