
.footer_1{
  background-color:  #353d44;
}

.block-contacts{
  background-color:  #ff9504;
}

.footer_copyright{
  font-family: Roboto;
  color:  #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_copyright_2{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_desinger{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 16px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
}

.button_title{
  font-family: Roboto;
  font-size: 12px;
  background-color:  #1bbc9b;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 135px;
  height: 35px;
  line-height: 1;
  margin: auto;
}

#search {
  .form-control{
  float: right;
  border-radius: 20px;
  width: 90%;
  }
}

.menu-top{
  font-family: Roboto;
  color: #000000;
  background-color: #8f8f8f;
  margin: auto;
}

.top-header{
  border-bottom: none;
}

#logo{
  img{
    width: auto;
  }
}

.fn_header{
  font-size: 21px;
}
.navcentr{
  margin: auto;
}

.list-inline{
  li{
    a{
      padding: 15px 8px!important;
    }
  }
}
//media 15px 15px