.footer_1{
  background-color:  #353d44;
}

.block-contacts{
  background-color:  #ff9504;
}

.footer_copyright{
  font-family: Roboto;
  color:  #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_copyright_2{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_desinger{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 16px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
}