@import "buttons";
@import "product";
@import "media";

.footer_1{
  background-color:  #353d44;
}
.information-prides-info {
  .mfp-content {
    top: 1%;
  }
}
#prides {
  .list_block h4 {
    margin-bottom: 25px;
  }
  .thumbnail :hover {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
    img  {
      opacity: 0.8;
    }
 }
}
.prides_main{
  margin: 10px 0;
  .list_block {
    min-height: 60px;
  }
  .product-layoutcat {
    margin-bottom: 0;
  }
  .caption p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
  }
  .blockTitle {
    padding: 15px 5px 0;
  }
  @media screen and (max-width: 560px) {
    .list_block {
      min-height: 80px;
    }
  }
  //a.linkPride :hover {
  //  color: #2f2f2f;
  //}
}

.block-contacts{
  background-color:  #ff9504;
}

.footer_copyright{
  font-family: Roboto;
  color:  #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_copyright_2{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.footer_desinger{
  font-family: Roboto;
  color:  #8c8f91;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 16px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
}

.button_title{
  font-family: Roboto;
  font-size: 12px;
  background-color:  #1bbc9b;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 135px;
  height: 35px;
  line-height: 1;
  margin: auto;
}

#search {
  .form-control{
  float: right;
  border-radius: 20px;
  width: 90%;
  }
}

.head_search{
  top: 18px;
}
.menu-top{
  font-family: Roboto;
  color: #000000;
  background-color: #8f8f8f;
  margin: auto;

}

.top-header{
  border-bottom: none;
  padding-top: 0;
}

#logo{
  img{
    width: auto;
    top: -15px;
  }
}

.fn_header{
  font-size: 21px;
}
.navcentr{
  margin: auto;
}

.list-inline{
  li{
    a{
      padding: 15px 8px!important;
    }
  }
}
//media 15px 15px

.navcentr{
  height: 125px;
}

.fn_header{
  font-size: 24px;
}